.button-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.preview {
  padding: 20px 40px;
  border-radius: 41px;
  border: none;
  background: linear-gradient(45deg, #8E00FF, #FF008A);
}

.preview:hover {
  box-shadow: 0px 0px 10px rgba(239, 1, 154, 0.66);
}

.preview:active {
  box-shadow: none;
  background: #6A6A6A;
}

.preview a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

.check {
  padding: 20px 40px;
  border-radius: 41px;
  background-color: transparent;
  border: 2px solid #fff;
}

.check:Hover {
  border: 2px solid #9800F8;
  box-shadow: 0px 0px 10px #9d00ff;
}

.check:active {
  border: 2px solid transparent;
  background: #6A6A6A;
}

.check a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}